* {
  box-shadow: border-box;
}
body {
  font: 20px helvetica, arial, serif
}
.nav-main {
  background-color: grey;
  overflow: auto;
}
/*holds out hight*/
.nav-main li {
  display: inline-block;
}
.nav-main li a {
  color: White;
  padding: 20px;
  display: block;
}
/*use display:lock to give you nav more hight.
if not it will use the <a> hight*which is inline-block*/
.nav-main li a:hover {
  color: red;
}
.nav-main li a:active {
  background-color: blue;
}
.container-form {
  border: 1px solid: red;
  max-width: 400px;
  margin: 20px auto;
}
/* margin: 20px auto; will always display in the middle*/
p .lead {
  margin-bottom: 5px;
}
p {margin-bottom: 18px;
}
